Repository hibernate/hibernate-orm, pull requests merged in 2023-02, with the labels that each got.

#6065 Fix HANA test issues
  hibernate-core/src/main/java/org/hibernate/dialect/AbstractHANADialect.java
  hibernate-core/src/test/java/org/hibernate/orm/test/annotations/embeddables/nested/fieldaccess/FieldAccessedNestedEmbeddableMetadataTest.java
  hibernate-core/src/test/java/org/hibernate/orm/test/type/VarbinaryArrayTest.java
Labels: hana

#6131 HHH-16082 - Correction to the epoch extraction for HANA
  hibernate-core/src/main/java/org/hibernate/dialect/AbstractHANADialect.java
Labels: hana

#6125 HHH-14514 Fix auto eviction of collection cache
  hibernate-core/src/main/java/org/hibernate/bytecode/internal/bytebuddy/ByteBuddyState.java
  hibernate-core/src/main/java/org/hibernate/cache/internal/CollectionCacheInvalidator.java
  hibernate-core/src/test/java/org/hibernate/test/cache/TransactionalConcurrencyCollectionCacheEvictionTest.java
Labels: 5.3

#6127 HHH-14514 Fix auto eviction of collection cache
  hibernate-core/src/main/java/org/hibernate/cache/internal/CollectionCacheInvalidator.java
  hibernate-core/src/test/java/org/hibernate/test/cache/TransactionalConcurrencyCollectionCacheEvictionTest.java
Labels: 5.6
