Repository hibernate/hibernate-orm, pull requests merged in 2024-12, with the labels that each got.

#5549 HHH-1914 - test case for UnsupportedOperationException
  hibernate-core/src/test/java/org/hibernate/orm/test/annotations/manytomany/UnmodifiableCollectionMergeTest.java
Labels: JIRA issue Test Case

#5507 HHH-953 / HHH-15667 Test cases for these issues
  hibernate-core/src/test/java/org/hibernate/orm/test/bytecode/enhancement/lazy/LazySqlResultMappingTest.java
Labels: JIRA issue Test Case

#8559 HHH-14340 - Add test
  hibernate-core/src/test/java/org/hibernate/orm/test/idclass/NestedIdClassTest.java
Labels: JIRA issue Test Case

#9450 HHH-9952 Add test showing the issue has been solved
  hibernate-core/src/test/java/org/hibernate/orm/test/formulajoin/AssociationFormulaTest.java
Labels: JIRA issue Test Case

#9451 HHH-15560 Querying Parametrized Embeddable Subclass not supported
  hibernate-core/src/test/java/org/hibernate/orm/test/annotations/embeddables/GenericEmbeddableWthSubclassTest.java
Labels: JIRA issue Test Case

#9470 HHH-18963 Switch to scheduled releases instead of release on push
  ci/release/Jenkinsfile
Labels: 6.4

#9207 HHH-16216 Add Sybase ASE test for ansinull=off and fix some issues
  hibernate-core/src/main/java/org/hibernate/dialect/SybaseASESqlAstTranslator.java
  hibernate-core/src/test/java/org/hibernate/orm/test/dialect/AnsiNullTest.java
Labels: sybase

#7077 test showing two problems with user types
  hibernate-core/src/test/java/org/hibernate/orm/test/annotations/usertype/EnhancedUserTypeTest.java
  hibernate-core/src/test/java/org/hibernate/orm/test/annotations/usertype/MyEntity.java
  hibernate-core/src/test/java/org/hibernate/orm/test/annotations/usertype/MyId.java
  hibernate-core/src/test/java/org/hibernate/orm/test/annotations/usertype/MyType.java
Labels: Test case
