Repository hibernate/hibernate-orm, pull requests merged in 2025-02, with the labels that each got.

#9713 [6.6] HHH-18912 - ORM release process
  build.gradle
  documentation/documentation.gradle
  gradle/group-relocation.gradle
  gradle/java-module.gradle
  gradle/javadoc.gradle
  gradle/published-java-module.gradle
  gradle/publishing-pom.gradle
  gradle/publishing.gradle
  gradle/releasable.gradle
  hibernate-agroal/hibernate-agroal.gradle
  hibernate-c3p0/hibernate-c3p0.gradle
  hibernate-community-dialects/hibernate-community-dialects.gradle
  hibernate-core/hibernate-core.gradle
  hibernate-envers/hibernate-envers.gradle
  hibernate-graalvm/hibernate-graalvm.gradle
  hibernate-hikaricp/hibernate-hikaricp.gradle
  hibernate-jcache/hibernate-jcache.gradle
  hibernate-jfr/hibernate-jfr.gradle
  hibernate-micrometer/hibernate-micrometer.gradle
  hibernate-platform/hibernate-platform.gradle
  hibernate-spatial/hibernate-spatial.gradle
  hibernate-testing/hibernate-testing.gradle
  hibernate-ucp/hibernate-ucp.gradle
  hibernate-vector/hibernate-vector.gradle
  tooling/hibernate-ant/hibernate-ant.gradle
  tooling/hibernate-gradle-plugin/hibernate-gradle-plugin.gradle
  tooling/metamodel-generator/hibernate-jpamodelgen.gradle
Labels: 6.6

#9709 Add approval for TCK run
  ci/jpa-3.2-tck.Jenkinsfile
Labels: tck

#9721 Revert publish task dependency on release changes
  gradle/published-java-module.gradle
  hibernate-platform/hibernate-platform.gradle
  tooling/hibernate-gradle-plugin/hibernate-gradle-plugin.gradle
Labels: 6.6

#9622 HHH-7315 Add test for locking with joined inheritance
  hibernate-core/src/test/java/org/hibernate/orm/test/locking/JoinedInheritancePessimisticLockingTest.java
Labels: JIRA issue Test Case
